html, body {
  font-family: sans-serif;
  margin: 0;
  width: 100;
  height: 100;
}

h2 {
  text-align: center;
  color: Olive;
}

li {
  text-align: center;
<<<<<<< HEAD
  size: 32px;
=======
>>>>>>> 98d798a015d736d39bbb837ed9e68d7361780513
  color: Olive;
  display: inline-block;
}

p {
  text-align: center;
  color: black;
  size: 24;
}
